@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
.font{
    font-family: "Inter", sans-serif;
}

.active{
    border-bottom: 2px solid #632EE3;
    color: #632EE3;
    font-weight:700 ;
}